@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');


*,
*:before,
*:after {
  box-sizing: border-box;
  letter-spacing: 0.04em;
}

body {
  font-family: "Signika Negative", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 2em;
  background-color: rgb(108, 240, 193, 0.6);
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#stats {
  margin: 20px;
}

.stat-panel {
  margin-bottom: 20px;
}

.stats-item-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.stats-item {
  margin-right: 20px;
}

.single-chart {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}


.percentage {
  font-size: 0.6em;
  fill: #333;
}

/* Loading spinner styles */
.spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  padding-top: 1em;
}

.spinner div {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.circle-bg {
  fill: none;
  stroke: white;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  from {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #F06C9C !important;
}

.circular-chart.green .circle {
  stroke: #ACF06C;
}


.blue .circle {
  stroke: #2196f3;
}
 

#cumulativeChart {
  width: 95vw !important;
}

.percentage {
  fill: black;
  font-size: 0.5em;
  font-weight: 500;
  text-anchor: middle;
}


#stats {
  background-color: #F0CF6C;
  padding: 1em;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-items: center;

}

.stats-item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;

}

h1,
h2 {
  font-family: 'play';
  margin: 0;
  padding-bottom: 0.5em;
  display: inline-block;
}

h2 {
  display: inline-block;
}

.stats-item {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  font-weight: 700;
  width: 130px;
  white-space: nowrap;
z-index:1;
  text-align:center;
  border-radius: 7px;
  background-color: #fff;
  padding: 0.5em;

  p {
    margin: 0;
  }

  span {
    place-self: center;
  }
}


#stats span {
  font-size: 3em;
}

.strategies-container {
  margin-top: 3em;
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
}

.stat-panel {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  align-items: center;
  position: relative;
}

.stat-panel:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
  width: 3px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index:999;
}

.btn {
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--red);
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  line-height: 1;
  margin: 20px;
  padding: 1.2em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.btn:hover,
.btn:focus {
  color: #f8f8f8;
  outline: 0;
}

.btn.play {
  border-color: #38B6FF;
  color: #fff;
  box-shadow: 0 0 40px 40px #38B6FF inset, 0 0 0 0 #38B6FF;
  transition: all 150ms ease-in-out;
}

.btn.play:hover {
  box-shadow: 0 0 10px 0 #38B6FF inset, 0 0 10px 4px #38B6FF;
}

@media only screen and (max-width: 800px) {
#stats {
  width: 100vw;
}
}
